@model IEnumerable<Accurate_Core.Models.OrderSummary>
<div class="mt-2 p-3" id="container">
    <!-- Add search input box -->
    <div class="d-flex mb-2" id="searchContainer">
        <div class="w-75">
            <input type="text" class="form-control" id="searchInput" placeholder="Scan barcode or enter stock number" onclick="openModal()">
        </div>
        <div class="d-flex align-items-center mx-5 gap-1">
            <label class="mr-3">Matched Only:</label>
            <label class="switch">
                <input type="checkbox" id="matchedToggle"checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
   

    <table id="editTable" class="table border table-striped">
        <thead class="text-white pt-2">
            <tr>
                <th>Stock Number</th>
                <th>Vehicle</th>
                <th>VIN</th>
                <th>Location</th>
                <th>Price</th>
                <th>Matched</th>
                <th>Grade</th>
                <th>Graded Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- Populate table rows dynamically based on data -->
            @foreach (var obj in Model)
            {
                <tr class="data-row">
                <td>@obj.StockNumber</td>
                <td>@obj.Vehicle</td>
                <td>@obj.Vin</td>
                <td>@obj.Location</td>
                <td>@obj.Price</td>
                <td>
                        @if (obj.Matched ?? false)
                        {
                            <i class="fa-solid fa-check" style="color:green"></i>
                        }
                </td>
                <td>@obj.Grade</td>
                <td>@obj.GradePrice</td>
            </tr>
            }           
        </tbody>       
    </table>
</div>
<div>
    @Html.Partial("_EditOrderPopUp")
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/js/orderdetails.js"></script>
<link href="~/css/edit.css" rel="stylesheet" />


