@model IEnumerable<Accurate_Core.Models.ExcelSample>
<!-- Add this at the beginning of the view to display alert messages -->
@if (TempData["ErrorMessage"] != null || TempData["SuccessMessage"] != null)
{
    <div class="alert alert-dismissible fade show mt-3" role="alert">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Order History</h1>
<div class="d-flex align-items-center justify-content-end">
    <a id="openModalBtn" class="btn btn-success">New Order <i class="bi bi-plus-circle"></i></a>
</div>
<div class="mt-2 p-3" id="container">

    <table id="orderTable" class="table border table-striped">
        <thead class="text-white pt-2">
            <tr>
                <th>
                    Stock Number
                </th>
                <th>
                    Descrition
                </th>
                <th>
                    Price
                </th>
                <th>
                    Tax Code
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taxCode)
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-action="Edit" ><i class="bi bi-pencil-square"></i></a>
                        @*   <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Report</a> *@
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>
<div id="addOrderModalPartial">
     <partial name="_OrderModal" model="Model" />
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/js/orderdetails.js"></script>
<link href="~/css/orderdetails.css" rel="stylesheet" />